# Redireccion de dominio principal a subdirectorio
# Copiar y pegar y modificar según necesidades
# Esta linea no quitarla
RewriteEngine on
# Cambiar https://alligators-closet.dck.com.mx/ por su nombre de dominio
RewriteCond %{HTTP_HOST} ^(www.)?https://alligators-closet.dck.com.mx/$
# Cambiar 'public' por el nombre del subdirectorio que quiere usar
RewriteCond %{REQUEST_URI} !^/public/
# No cambiar estas lineas.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Cambiar 'public' por el nombre del subdirectorio que quiere usar
RewriteRule ^(.*)$ /public/$1
# Cambiar https://alligators-closet.dck.com.mx/ por su nombre de dominio
# Cambiar 'public' por el nombre del subdirectorio que quiere usar
# followed by / then the main file for your site, index.php, index.html, etc.
RewriteCond %{HTTP_HOST} ^(www.)?https://alligators-closet.dck.com.mx/$
RewriteRule ^(/)?$ public/index.html [L]
